<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/other.css">
    <link href="../static/fonts/bubble.ttf" rel="stylesheet">
    <!-- <link rel="shortcut icon" type="image/png" href="../static/images/rat.ico"/> -->
</head>
<body>
    <div class="container">
        

        <div class="title">
            <h1 class="title_text">AGATAAA</h1>
        </div>

        <div>
            <h1>What do you want to advertise?</h1>
            <input type="text"> -->
            <button>New Ad!</button>
        </div>

        <div class="ad">
            <img src="../../images/mouse/image1.jpg" alt="" height="200px" weight="auto">
        </div>
    
            
        <!-- <embed name="Chopsticks" src="../../static/dashboard/music/chopsticks.mp3" loop="true" hidden="true" autostart="true" volume="50%"> -->
    </div>

    
    <script>
        
    </script>

</body>
</html>