<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/other.css">
    <!-- <link href="../static/fonts/bubble.ttf" rel="stylesheet"> -->
    <!-- <link rel="shortcut icon" type="image/png" href="../static/images/rat.ico"/> -->
</head>
<body>
    <div class="container">
        

        <div class="title">
            <h1 class="title_text">Generate a Book!</h1>
        </div>

        <div class="main">
            <p class="question">Do you want to specify a genre?</p>

            <label for="genre_label">Choose a genre:</label>
            <select name="genres" id="genres">
                <option value="romance">Romance</option>
                <option value="fantasy">Fantasy</option>
                <option value="comedy">Comedy</option>
                <option value="horror">Horror</option>
                <option value="horror">SciFi</option>
            </select>

            <div class="btn">New Ad!</div>
        </div>

        <div class="ad">
            <img src="../../images/mouse/image1.jpg" alt="" height="200px" weight="auto">
        </div>
    
            
        <!-- <embed name="Chopsticks" src="../../static/dashboard/music/chopsticks.mp3" loop="true" hidden="true" autostart="true" volume="50%"> -->
    </div>

    
    <script>
        
    </script>

</body>
</html>